<div class="container">
  <div class="row">
    <h1 class="text-center">Your Ideas</h1><br/>
    <% if user_signed_in? %>
      <% @items.each do |item| %>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= link_to item.title, item %></h3>
          </div>
          <div class="panel-body">
            <%= item.description %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <p><%= link_to edit_item_path(item) do %></p>
          <i class="fa fa-lg fa-pencil"></i>
        <% end %>
      </div>
      <div class="col-md-2">
        <p><%= link_to item, method: :delete, data: { confirm: "Are you sure?" } do %></p>
          <i class="fa fa-lg fa-trash"></i>
        <% end %>
      </div>
      <br/>
      <% end %>
    <% end %>
  </div>
  <%= link_to "New Item", new_item_path, class: "btn btn-primary" %>
</div>