<div class="container">
  <div class="row">
    <h1 class="text-center">Your Ideas</h1><br/>
    <% if user_signed_in? %>
      <% @items.each do |item| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <table width="100%">
              <tr>
                <th width="90%">
                  <h3 class="panel-title truncate">
                    <%= link_to item.title, item %>
                  </h3>
                </th>
                <th class="text-center table-head">
                  <%= link_to edit_item_path(item) do %>
                    <i class="fa fa-lg fa-pencil"></i>
                  <% end %> &nbsp;
                </th>
                <th class="text-center">
                  <%= link_to item, method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="fa fa-lg fa-trash"></i>
                  <% end %>
                </th>
              </tr>
            </table>
          </div>
          <div class="panel-body">
            <%=raw item.description %>
          </div>
        </div>
      <br/>
      <% end %>
    <% end %>
  </div>
  <%= link_to "New Item", new_item_path, class: "btn btn-primary" %>
</div>